.App {
  display: flex;
  background-color: #0d192c;
  height: 100vh;
  width: 100vw;
}

.main-container {
  position: absolute;
  background: #15263f;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 15px;
  top: 30%;
  margin-top: -120px;
  margin-left: 514px;
  height: 520px;
  width: 330px;
}

.top-container {
  position: absolute;
}

.main-image {
  height: 260px;
  width: 260px;
  border-radius: 8px;
  position: absolute;
  margin-top: 24px;
  margin-left: 35px;
  margin-bottom: 422px;
  z-index: 2;
}

.main-image:hover {
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 8px;
  cursor: pointer;
}

.view-container{
  background-color: #00fff8;
  opacity: 0.8;
}

.view-icon {
  z-index: 3;
  position: absolute;
  width: 44px;
  height: 38px;
  left: 140px;
  top: 140px;
}

.middle-container {
  margin-top: 280px;
}

.middle-container,
h1 {
  padding-left: 16px;
  font-style: normal;
  font-size: 22px;
  color: #ffffff;
  line-height: 28px;
  font-weight: 600;
}

.middle-container,
p {
  padding-top: 2px;
  padding-left: 16px;
  font-size: 17px;
  color: #8bacd9;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 26px;
  font-weight: 300;
}

.bottom-container {
  display: flex;
  justify-content: space-around;
}

.ethereum-icon {
  padding-right: 6px;
}

.ethereum-text {
  color: #00fff8;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.clock-icon {
  padding-right: 6px;
}

.bottom-container,
span {
  font-size: 16px;
  color: #8bacd9;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.horizontal-line {
  background-color: #2e405a;
  border-color: #2e405a;
  width: 300px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.border-image {
  border-radius: 70%;
  background: #ffffff;
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.avatar-image {
  width: 40px;
  height: 40px;
  padding-top: 2px;
  padding-left: 2px;
}

.span-bottom {
  color: #8bacd9;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-right: 10px;
}

.name-span {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-right: 10px;
}

.middle-container,
h1:hover {
  color: #00fff8;
  cursor: pointer;
}

.name-span:hover {
  color: #00fff8;
  cursor: pointer;
}
